.login-form{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #8888
}
.login-form h3{
    text-align: center;
}
.anc-form-group{
    margin: 3rem;
}
.anc{
    background-color: #CADCEA;
    padding: 15px 20px;
    border: 1px solid #007bff;
    color: #222;
    text-decoration: none !important;
}
.anc:hover{
background-color: #005DC5 !important;
color: #ffffff !important;
}

/*Responsive design css*/

@media(min-width:992px){
   .dataTables_wrapper{
    overflow-x: hidden;
   } 
   .width-container{
    width:50%;
   }
}
@media(min-width:768px) and (max-width:991px){
   .width-container{
    width:100%;
   }
} 
@media(min-width:575px) and (max-width:767px){
    width:100%;
}
@media(min-width:480px) and (max-width:574px){
    .dataTables_wrapper{
    overflow-x: scroll;;
   }
   .width-container{
    width:100%;
   }
}
@media(max-width:479px){
   
   .dataTables_wrapper{
    overflow-x: scroll;
   }
   .width-container{
    width:100%;
   }
}