{%extends 'lsmanage/base.html'%}
{%block title%}Library Management System{% endblock %}
{%block content%}
      <div class="container d-flex flex-column w-50 vh-100 justify-content-center">
        <div class="login-form">
            <h3>Log in to your account as a Librarian</h3>
             {% if messages %}
                   {% for message in messages %}
                        <div class="alert alert-dismissible fade show {{ message.tags }}" role="alert">
                           {{ message }}
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                   {% endfor %}
             {% endif %}
            <form method="post" action="{% url 'librarian-login'%}">{%csrf_token%}
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter your Username" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
              </div>
              <button type="submit" class="btn btn-primary">Login</button> <a href="{% url 'home-page' %}" class="btn btn-primary">Cancel</a>
            </form>
         </div>
      </div>
{% endblock %}