{%extends 'lsmanage/base.html'%}
{%block title%}Library Management System{% endblock %}
{% load crispy_forms_tags %}
{%block content%}
      <div class="container my-5">
         {% if messages %}
                   {% for message in messages %}
                        <div class="alert alert-dismissible fade show {{ message.tags }}" role="alert">
                           {{ message }}
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                   {% endfor %}
             {% endif %}
        <div class="login-form">
            <h3>Issued Book List</h3>
             <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book Name</th>
      <th scope="col">Student ID</th>
      <th scope="col">Student Name</th>
      <th scope="col">Student Contact</th>
      <th scope="col">Issue Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {%for book in issued_books%}
    <tr>
      <th scope="row">{{book.id}}</th>
      <td>{{book.book.name}}</td>
      <td>{{book.student_id}}</td>
      <td>{{book.student_name}}</td>
      <td>{{book.student_contact}}</td>
      <td>{{book.issued_date}}</td>
      <td><a href="#" class='btn btn-primary'>Edit</a> 
        <a href="/deletelibrarian/{{book.id}}" class='btn btn-primary' onclick="return confirm('Are you want to delete?')">Delete</a>
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
<a href="{% url 'librarian-dashboard'%}" class='btn btn-primary'>Back</a>
         </div>
      </div>
{% endblock %}