{%extends 'lsmanage/base.html'%}
{%block title%}Library Management System{% endblock %}
{% load crispy_forms_tags %}
{%block content%}
      <div class="container my-5">
         {% if messages %}
                   {% for message in messages %}
                        <div class="alert alert-dismissible fade show {{ message.tags }}" role="alert">
                           {{ message }}
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                   {% endfor %}
             {% endif %}
        <div class="login-form">
            <h3>Issued Book List</h3>
             <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Book Name</th>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Student Contact</th>
                <th>Issue Date</th>
            </tr>
        </thead>
        <tbody>
            {%for book in issued_books%}
            <tr>
              <th scope="row">{{book.id}}</th>
              <td>{{book.book.name}}</td>
              <td>{{book.student_id}}</td>
              <td>{{book.student_name}}</td>
              <td>{{book.student_contact}}</td>
              <td>{{book.issued_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
              <th>#</th>
              <th>Book Name</th>
              <th>Student ID</th>
              <th>Student Name</th>
              <th>Student Contact</th>
              <th>Issue Date</th>
            </tr>
        </tfoot>
    </table>
<a href="{% url 'librarian-dashboard'%}" class='btn btn-primary'>Back</a>
         </div>
      </div>
{% endblock %}